<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>994190058581-dfqg6r9qac823ivv8gut94bs2t6ojpq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.994190058581-dfqg6r9qac823ivv8gut94bs2t6ojpq9</string>
	<key>API_KEY</key>
	<string>AIzaSyBogY9YjugwQUCALZL2sF_wBBt6nSTNsLo</string>
	<key>GCM_SENDER_ID</key>
	<string>994190058581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.myagency.gpt</string>
	<key>PROJECT_ID</key>
	<string>hello-bible-plus</string>
	<key>STORAGE_BUCKET</key>
	<string>hello-bible-plus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:994190058581:ios:0fa4c82ce34d2cc6f560dc</string>
</dict>
</plist>